<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <logger name="FileLogAppender">
      <level value="ALL"/>
      <appender-ref ref="FileLogAppender"/>
    </logger>
    <appender name="FileLogAppender" type="log4net.Appender.RollingFileAppender">
      <staticLogFileName value="false"/>
      <file value="App_Data/Log/"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyy-MM-dd/yyyy-MM-dd HH&quot;.txt&quot;"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100kb"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%p]：%m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
